# WIP, reference, and other stuff not part of my website #
##########################################################
.archive/
.vscode/
.reference/
00-NOTE-TO-SELF.mdx
updates.mdx
snippets/latest-update.mdx
00-GalleryCard-reference.mdx
00-reference.mdx

# Ignore OS-generated .DS_Store files #
#######################################
.DS_Store
.DS_Store?
._*

# Ignore files stored in CDN (local storage is included for easy reference) #
#############################################################################
images/

# Ignore .mintignore (tells Mintlify which files NOT to include in SSG builds) #
################################################################################
.mintignore

# Mysterious stuff? #
#####################
node_modules/
package-lock.json
package.json